#introduction {
    position: relative;
    top: 0;
    left: 0;
    background-image: url("../img/venue.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    text-align: center;
    color: #eee;
    padding: 150px 0;
    z-index: 0;
}

#introduction:after {
    content: '';
    background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#introduction .title {
    font-size: 5em;
}

#introduction .subtitle {
    font-size: 1.8em;
}

#introduction .dates {
    font-size: 2.5em;
    padding-top: 30px;
}

#about, #venue, #registration, #payment, #schedule, #organization, #sponsorship {
    text-align: center;
    color: #111;
    padding: 50px 0;
}

#about .title, #venue .title, #registration .title, #payment .title, #schedule .title, #organization .title, #sponsorship .title {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 35px;
}

#about .caption {
    font-size: 1.7em;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
}

#about p, #sponsorship p, #sponsorship li {
    font-size: 1.2em;
    letter-spacing: 0.02em;
    text-align: justify;
}

#sponsorship .logo, #organization .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

#sponsorship .logo {
  margin: 36px;
}

#ticketea-logo {
  background-image:url(../img/sponsors/ticketea.png);
  width: 400px;
  height: 180px;
}

#aida-logo {
  background-image:url(../img/sponsors/LOGO_AIDA.png);
  width: 400px;
  height: 180px;
}

#codurance-logo {
  background-image:url(../img/sponsors/codurance-logo.svg);
  width: 420px;
  height: 90px;
}

#eight-light-logo {
  background-image:url(../img/sponsors/8th-Light-Logo.png);
  width: 400px;
  height: 180px;
}

#kairos-logo {
  background-image:url(../img/sponsors/kairos_ds_DevOps_logo.png);
  width: 420px;
  height: 90px;
}

#lean-mind-logo {
  background-image:url(../img/sponsors/LeanMind.png);
  width: 250px;
  height: 180px;
}

#zooplus-logo {
  background-image:url(../img/sponsors/zooplus.png);
  width: 500px;
  height: 120px;
}

#codesai-logo {
  background-image:url(../img/codesai.png);
  width: 650px;
  height: 280px;
  margin: 0 auto;
}

#venue {
    background-color: #111;
    color: #eee;
}

#venue p {
    text-align: justify;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    padding-bottom: 15px;
}

#venue b {
    color: #ffcd05;
}

#venue img {
    width: 100%;
    margin: 3px 0;
}

#registration {
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
}

#registration .title {
    text-align: center;
    color: #111;
}

#registration .alert {
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 0.04em;
    color: #e02f2f;
    padding-top: 0;
    margin-bottom: 0;
}

#registration .notice {
    font-size: 1.3em;
    letter-spacing: 0.04em;
    padding: 10px;
    text-align: center;
    background-color: #ffda44;
    border: 1px solid #000;
    margin-bottom: 15px;
}

#registration .notice-subhead {
    font-size: 1.3em;
    letter-spacing: 0.04em;
    margin-bottom: 30px;
}

#registration .reservation-head {
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

#registration .reservation-subhead {
    font-size: 1.2em;
    letter-spacing: 0.02em;
    text-align: justify;
}

#registration .reservation {
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 0.04em;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #4b8bc1;
    border: 1px solid #000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

#registration .reservation:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

#registration .reservation a {
    color: #000;
    transition: box-shadow 0.3s ease;
    text-decoration: none;
}

#registration .reservation:hover a {
    text-decoration: underline;
}

#registration .details {
    font-size: 1.2em;
    letter-spacing: 0.02em;
}

#registration .budget {
    padding: 10px;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    border: 1px solid #999;
}

#registration .explanation {
    padding-bottom: 20px;
}

#registration .price {
    font-size: 1.3em;
    font-weight: 600;
}

#registration .example {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: 0.02em;
}

#registration .example p {
    padding-top: 20px;
    margin-bottom: 0;
}

#registration .example .price {
    font-size: 1.1em;
}

#organization {
    text-align: center;
    background-color: #111;
    color: #eee;
}

#organization img {
    height: 120px;
}

#organization .logo {
    text-align: right;
}

#organization .contact {
    text-align: left;
}

#organization .contact .caption {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.04em;
    padding-bottom: 25px;
}

#organization .email {
    padding-bottom: 10px;
}

#organization a {
    font-size: 1.2em;
    letter-spacing: 0.04em;
    color: #ffcd05;
}

#organization a:hover {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #0669aa;
}

#organization a:active {
    text-decoration: none;
    color: #ffcd05;
}

@media screen and (max-width: 991px) {

    #about p {
        padding-bottom: 20px;
    }

    #registration .budget {
        margin-bottom: 30px;
    }

    #organization .logo {
        text-align: center;
        padding-bottom: 40px;
    }

    #organization .contact {
        text-align: center;
    }

    #sponsorship .logo, #organization .logo {
      width: 100%;
      margin: 12px auto;
    }
}
