#introduction {
    position: relative;
    top: 0;
    left: 0;
    background-image: url("../img/venue.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    text-align: center;
    color: #eee;
    padding: 150px 0;
    z-index: 0;
}

#introduction:after {
    content: '';
    background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#introduction .title {
    font-size: 5em;
}

#introduction .subtitle {
    font-size: 1.8em;
}

#introduction .dates {
    font-size: 2.5em;
    padding-top: 30px;
}

#about, #venue, #registration, #payment, #schedule, #organization, #sponsorship {
    text-align: center;
    color: #111;
    padding: 50px 0;
}

#about .title, #venue .title, #registration .title, #payment .title, #schedule .title, #organization .title, #sponsorship .title {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 35px;
}

#about .caption {
    font-size: 1.7em;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
}

#about p, #sponsorship p, #sponsorship li {
    font-size: 1.2em;
    letter-spacing: 0.02em;
    text-align: justify;
}

#venue {
    background-color: #111;
    color: #eee;
}

#venue p {
    text-align: justify;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    padding-bottom: 15px;
}

#venue b {
    color: #ffcd05;
}

#venue img {
    width: 100%;
    margin: 3px 0;
}

#registration {
    padding-top: 0px;
    text-align: justify;
}

#registration .title {
    text-align: center;
    color: #111;
}

#registration .details {
    padding-bottom: 20px;
    font-size: 1.2em;
    letter-spacing: 0.02em;
}

#registration .budget {
    padding: 10px;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    border: 1px solid #999;
}

#registration .explanation {
    padding-bottom: 20px;
}

#registration .price {
    font-size: 1.3em;
    font-weight: 600;
}

#registration .example {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: 0.02em;
}

#registration .example p {
    padding-top: 20px;
    margin-bottom: 0;
}

#registration .example .price {
    font-size: 1.1em;
}

#organization {
    text-align: center;
    background-color: #111;
    color: #eee;
}

#organization img {
    height: 120px;
}

#organization .logo {
    text-align: right;
}

#organization .contact {
    text-align: left;
}

#organization .contact .caption {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.04em;
    padding-bottom: 25px;
}

#organization .email {
    padding-bottom: 10px;
}

#organization a {
    font-size: 1.2em;
    letter-spacing: 0.04em;
    color: #ffcd05;
}

#organization a:hover {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #0669aa;
}

#organization a:active {
    text-decoration: none;
    color: #ffcd05;
}

#assistants .desktop-info {
    position: absolute;
    top: 40px;
    color: #eee;
    font-size: 1.4em;
    letter-spacing: 0.02em;
    text-align: justify;
}

#assistants .mobile-info {
    display: none;
}

#assistants iframe {
    width: 100%;
    height: 915px;
}


@media screen and (min-width: 768px) and (max-width: 991px) {

    #about p {
        padding-bottom: 20px;
    }

    #registration .budget {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 767px) {

    #about p {
        padding-bottom: 20px;
    }

    #registration .budget {
        margin-bottom: 30px;
    }

    #organization .logo {
        text-align: center;
        padding-bottom: 40px;
    }

    #organization .contact {
        text-align: center;
    }
}

@media screen and (max-width: 677px) {

    #assistants .desktop-info {
        display: none;
    }

    #assistants .mobile-info {
        display: block;
        font-size: 1.4em;
        letter-spacing: 0.02em;
        text-align: justify;
        padding-bottom: 20px;
    }

    #registration {
        padding-bottom: 30px;
    }
}
