* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.25s ease;
  color: #337ab7;
}

a:hover{
  color: rgb(0, 50, 100);
  cursor: pointer;
}

b {
  color: rgb(0, 50, 100);
}

section {
  padding: 100px 200px;
}

section > h2 {
  font-size: 40px;
  padding-bottom: 75px;
  text-transform: uppercase;
  text-align: center;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s height;
}

header a {
  color: white;
}

header a:hover{
  color: #ffcd05;
  cursor: pointer;
}

.list-header{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.items-header{
  padding: 9px 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.introduction {
  height: 100vh;
  background: url(/images/portada.png) no-repeat;
  background-size: cover;
  background-position: fixed;
}

.introduction .opacity-layer {
  background: rgba(0, 25, 50, 0.8);
  width: 100%;
  height: 100%;
}

.introduction .presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-left: 200px;
  padding-bottom: 100px;
  font-weight: bold;
  color: #ffffff;
}

.introduction .presentation .event-name {
  font-size: 80px;
  margin-bottom: 10px;
}

.introduction .presentation .title {
  display: flex;
  align-items: center;
}

.introduction .presentation .title .logo {
  width: 125px;
  margin-left: 26px;
  margin-right: 30px;
}

.introduction .presentation .title .subtitle {
  font-size: 30px;
  margin-bottom: 10px;
}

.introduction .presentation .title .dates {
  font-size: 50px;
}

.text-intro{
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.text-intro > h2 {
  font-size: 30px;
}

.text-intro > h3 {
  font-size: 24px;
}

.about {
  background-image: url(/images/image-about-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.about h2 {
  color: #ffcd05;
}

.list-about{
  display: flex;
  list-style: none;
}

.about-items{
  font-size: 18px;
  padding: 20px 40px;
}

.about-items p {
  text-align: justify;
}

.title-items{
  padding-bottom: 16px;
  text-align: left;
  font-size: 20px;
}

.title-items span {
  color: #ffcd05;
  font-size: 26px;
}

.schedule {
  color: black;
  background-color: white;
  font-size: 18px;
}

.schedule h2 {
  color: rgb(0, 50, 100);
}

.schedule .days {
  display: flex;
  padding: 20px;
  border: 1px solid rgb(0, 50, 100);
  text-align: center;
}

.schedule .days span {
  flex-basis: 22%;
}

.schedule .days .time {
  flex-basis: 12%;
}

.schedule .hour {
  display: flex;
  text-align: center;
  border: 1px solid rgb(0, 50, 100);
  border-top: none;
}

.schedule .hour span {
  display: flex;
  flex-direction: column;
  flex-basis: 22%;
}

.schedule .hour .time {
  padding: 20px;
  flex-basis: 12%;
}

.hour .time.nine-thirty {
  padding-bottom: 200px;
}

.schedule .hour .first-day {
  justify-content: flex-end;
}

.schedule .hour .slot {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.schedule .hour .welcome {
  flex-basis: 15%;
  border-bottom: 1px solid rgba(0, 50, 100, 0.5);
}

.schedule .hour .lightnings {
  flex-basis: 25%;
}

.schedule .hour .proposing-talks {
  flex-basis: 20%;
  border-bottom: 1px solid rgba(0, 50, 100, 0.5);
}

.schedule .hour .open-space {
  flex-basis: 80%;
}

.schedule .hour .lunch {
  flex-basis: 20%;
  border-bottom: 1px solid rgba(0, 50, 100, 0.5);
}

.venue {
  display: flex;
  flex-direction: column;
  color: #111;
  text-align: center;
}

.venue h2 {
  color: rgb(0, 50, 100);
}

.venue p {
  margin-bottom: 18px;
}

.venue .images {
  display: flex;
}

.venue .images div {
  margin: 12px;
}

.venue .images img {
  width: 100%;
}

.venue .localization-container {
  display: flex;
  padding-top: 30px;
}

.venue .localization-container .box-localization {
  display: flex;
}

.venue .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
  text-align: left;
  padding: 30px 30px 30px 12px;
}

.venue .description .place {
  font-size: 22px;
  padding-bottom: 20px;
}

.venue .description p {
  font-size: 18px;
}

.venue .maps {
  flex-basis: 40%;
  padding-right: 12px;
}

.venue .maps iframe {
  width: 100%;
  height: 100%;
}

.photo {
  background-image: url(/images/foto4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
}

#coc blockquote {
  background-color: #eee;
  padding: 18px;
  text-align: justify;
  border-radius: 10px;
  border: 1px solid #bbb;
  margin: 12px 0;
}

footer{
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

footer > div:not(:first-child) {
  padding-top: 32px;
}

.titles-footer{
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
}

.logo-codesai {
  width: 100px;
  display: flex;
  margin: 0 auto;
}

.facilitator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facilitator a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facilitator img {
  width: 80px;
  border-radius: 100%;
  margin: 12px auto;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact i {
  color: #ffcd05;
}

#contact a {
  padding-left: 7px;
}

#contact > div {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

@media all and (max-width: 1440px) {

  section {
    padding: 80px 50px;
  }

}

@media all and (max-width: 1200px) {

  section {
    padding: 80px 20px;
  }

  .introduction .presentation {
    padding-left: 150px;
  }

  .introduction .presentation {
    align-items: center;
    padding: 100px 20px;
  }
    
  .introduction .presentation .event-name {
    font-size: 50px;
    margin-bottom: 5px;
  }

  .introduction .presentation .title .logo {
    width: 90px;
    margin-left: 15px;
    margin-right: 20px;
  }

  .introduction .presentation .title .subtitle {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .introduction .presentation .title .dates {
    font-size: 35px;
  }

  .schedule .desktop-schedule {
    display: none;
  }

  .schedule .mobile-schedule {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .schedule .card {
    flex-basis: 40%;
    margin: 20px;
    border: 1px solid rgb(0, 50, 100);
  }

  .schedule .card .day {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(0, 50, 100);
  }

  .schedule .slots {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }

  .schedule .slots .slot {
    display: flex;
    justify-content: space-between;
    padding: 6px 0 18px 0;
    border-bottom: 1px solid rgba(0, 50, 100, 0.2);
  }

  .schedule .slots .slot:last-of-type {
    padding-bottom: 7px;
    border-bottom: none;
  }

  .schedule .slots.last-day .slot {
    justify-content: center;
    text-align: center;
  }

  .list-about {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 920px) {

  .venue .localization-container .box-localization {
    flex-wrap: wrap;
  }

  .venue .description {
    flex-basis: 100%;
    padding: 0 12px 20px 12px;
  }

  .venue .description .place {
    font-size: 19px;
  }

  .venue .description p {
    font-size: 17px;
  }

  .venue .maps {
    flex-basis: 100%;
    padding: 0 12px;
  }

  .venue .maps iframe {
    height: 210px;
  }
}

@media all and (max-width: 767px) {

  header {
    display: none;
  }
  
  section {
    padding: 60px 10px;
  }

  section h2 {
    padding-bottom: 50px;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: rgba(0, 25, 50, 0.9);
    color: white;
    font-size: 24px;
  }

  .mobile-menu.left-handed {
    flex-direction: row-reverse;
  }

  .mobile-menu .item {
    padding: 10px 30px;
  }

  .mobile-menu-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 50px;
    right: -100vw;
    width: 100%;
    padding: 30px 10px 10px 0;
    background: rgba(0, 25, 50, 0.9);
    text-transform: uppercase;
    transition: right 0.25s ease;
  }

  .mobile-menu-right.toggled {
    right: 0;
  }

  .mobile-menu-right .item {
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .mobile-menu-right a {
    color: white;
  }

  .mobile-menu-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    left: -100vw;
    width: 100%;
    padding: 30px 0 10px 10px;
    background: rgba(0, 25, 50, 0.9);
    text-transform: uppercase;
    transition: left 0.25s ease;
  }

  .mobile-menu-left.toggled {
    left: 0;
  }

  .mobile-menu-left .item {
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .mobile-menu-left a {
    color: white;
  }

  .introduction .presentation {
    justify-content: flex-start;
    align-items: center;
    padding: 5vh 10px;
    font-weight: normal;
  }

  .introduction .presentation .event-name {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .introduction .presentation .title .logo {
    display: none;
  }

  .introduction .presentation .mobile-logo {
    margin-bottom: 20px;
    width: 80px;
  }
  
  .introduction .presentation .title .additional-text {
    text-align: center;
  }

  .introduction .presentation .title .subtitle {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .introduction .presentation .title .dates {
    font-size: 20px;
  }

  .schedule .card {
    flex-basis: 100%;
  }

  .about .about-items {
    padding: 25px 20px;
  }

  .about .about-items .title-items {
    text-align: center;
  }

  .about .list-about {
    flex-wrap: wrap;
  }

  .venue .images div:last-of-type {
    display: none;
  }
}

@media all and (min-width: 768px) {
  header{
    position: fixed;
    top: 0;
    left: 0;
    height: 76px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
    transition: background 0.4s ease;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-right {
    display: none;
  }

  .mobile-menu-left {
    display: none;
  }

  header .list-header {
    border: none;
    display: flex !important;
    flex-direction: row;
  }

  .items-header{
    padding: 0 20px;
  }

  .title-introduction{
    padding: 30px;
  }

  .introduction .presentation .mobile-logo {
    display: none;
  }

  .about {
    background-image: url(/images/image-section-about.png);
    background-repeat: no-repeat;
  }

  .list-about{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer{
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 33px;
  }

  footer > div:not(:first-child) {
    padding-top: 0;
  }

  #contact{
    padding-top: 0px;
  }
}

@media all and (min-width: 1201px) {

  .mobile-schedule {
    display: none;
  }
}